* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
  
header {
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 30px;
}

.wrapper {
   margin: 0;
  justify-content: left;
}

.external_links {
  align-items: left;
  width: 100%;
}

#facebook {
  margin: 0;
  padding: 0;
  border: none;
}

#instagram {
  margin: 0;
  padding: 0;
  border: none;
}

#tumbler {
  margin: 0;
  padding: 0;
  border: none;
}

#twitter {
  margin: 0;
  padding: 0;
  border: none;
}

#youtube {
  margin: 0;
  padding: 0;
  border: none;
}

.form {
  width: 205px;
  height: 400px;
  color: black;
  padding: none;
  align-content: flex-end;
}

input {
  width: 200px;
  height: 30px;
  justify-content: right;
  border-radius: 20px;
  align-items: right;
  text-align: center;
  color: darkslategray;
  background-color: darkslategray;
  opacity: 0.5;
  padding: 3;
  font-size: 18px;
}

.logoContainer {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.nav_bar {
  text-decoration: none;
  color: white;
  border: 1px solid lightslategray;
  padding: 15px;
}

.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5px;
  height: 50px;
  background-color: black;
  border-style: solid;
  border-color: lightslategray;
}

.background {
  background-image: url("assets/background-stars-desktop_81342104.jpeg");
  background-repeat: repeat-y;
}

.display {
  height: 500px;
  background-image: url("assets/the-mandalorian-s2-single-hero-b-desktop_28751c8d.jpeg");
  background-size: cover;
  text-align: center;
  padding: 150px;
}

.displayTwo {
  width: 1400px;
  height: 750px;
  display:  flex;
  background-image: url("assets/chapter-11-the-mandalorian-single-hero-desktop_da2b0416.jpeg");
  margin-top: 25px;
  padding-top: 20px;
  z-index: 100;
  align-items: left;
  background-size: cover;
  }

.heiress_text {
  justify-content: left;
  height: 200px;
  text-align: left;
  padding: 0 60px;
  margin-top: 70px;
}

#parent {
  display: flex;
  justify-content: center;
  
}
.image {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  }

.yoda_row {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: black;
  margin: 25px 60px 0px 60px;
  }

#baby_yoda {
  width: 60%;
  justify-content: left; 
}


.image_2 {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  justify-content: start; 
}

#secondImage {
  width: 68%;
}

.text {
  width: 75%;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif white, Broadway;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
  margin: 7px 10px;
  color: rgb(238, 229, 216);
}
.text1 {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif white, Broadway;
  font-size: 35px;
  justify-content: center;
  padding-left: 5px;
  margin: 0px 20px 0px 90px;
  color: white;
}

.text2 {
  width: 75%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif white, Broadway;
  font-size: x-large;
  word-wrap: normal;
  padding-left: 5px;
  margin: 0px 17px 0px 15px;
  color: white;
}

.text3 {
  width: 75%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif white, Broadway;
  font-size: x-large;
  word-wrap: normal;
  padding-left: 20px;
  margin: none;
  color: white;
}

#links {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  justify-content: right;
  border-radius: 10px;
  align-items: right;
  /* text-align: center; */
  /* color: blue; */
  /* border-color: cornsilk; */
  /* background-color: darkslategray; */
  opacity: 0.80;
  padding: 30px;
  font-size: 22px;
  margin-bottom: 100px;
}

.stream {
  display: flex;
  width: 200px;
  /* height: 20px; */
  justify-content: center;
  border-radius: 20px;
  /* align-items: baseline; */
  text-align: center;
  color: white;
  border-color: white;
  border-style: inset;
  border-width: .5px;
  background-color: blue;
  font-size: 18px;
  margin-right: 25px;
  padding: 3px
}

.explore {
  width: 200px;
  justify-content: center;
  border-radius: 20px;
  align-items: right;
  text-align: center;
  color: white;
  border-width: .5px;
  background-color: black;
  font-size: 18px;
}

button:hover {
  background-color: rgb(86, 136, 150);
}
